@import 'bulma/sass/utilities/_all';

.BaseLayout {
  padding: 2rem;
  height: 100%;

  @include touch {
    padding: 1.5rem;
  }

  @include mobile {
    padding: 0 1rem;
  }

  @media screen and (max-width: 575px) {
    padding: 0;
  }

  &-columns {
    height: 100%;
  }

  &-sidebar {
    margin: 40px 0 !important;

    @include mobile {
      margin: 0 !important;
    }
  }

  &-profilePhoto {
    min-width: 260px;
    max-width: 470px;

    @include fullhd {
      max-width: 540px;
    }
  }
}
