@import 'bulma/sass/utilities/_all';
@import 'styles/_mixins';
@import 'styles/_functions';

.BaseLayout {
  padding: 2rem;
  height: 100%;

  @include touch {
    padding: 1.5rem;
  }

  @include mobile {
    padding: 0 1rem;
  }

  @include mobile-xs {
    padding: 0;
  }

  &-columns {
    height: 100%;
  }

  &-sidebar,
  &-main {
    margin: rem(40px) 0 !important;

    @include mobile {
      margin: 0 !important;
    }
  }

  &-profilePhoto {
    min-width: 260px;
    max-width: 350px;

    @include widescreen {
      max-width: 470px;
    }

    @include fullhd {
      max-width: 540px;
    }
  }

  &-main {
    @include tablet {
      min-width: 376px;
    }

    @include mobile {
      min-width: 320px;
    }
  }
}
