// Base

$white: #ffffff;
$black: #000000;

// Monokai palette

$dark-olive: #272822;
$dark-gray: #3e3d32; // Rulers, invisibles.
$light-gray: #f8f8f2; // Text
$gray: #cfcfc2; // Text (soft)
$medium-gray: #75715e; // Comments, selections, gutter text.
$yellow: #e6db74; // Strings, cursors.
$orange: #fd971f; // Language identifiers, function parameters.
$red: #f92672; // Control structures, modifiers, operators.
$magenta: #fd5ff0;
$violet: #ae81ff; // Constants, numbers, booleans.
$blue: #66d9ef;
$cyan: #a1efe4;
$green: #a6e22e; // Class names, function names.

// Others

$charcoal-gray: #202020;
