@import 'mixins';

$rem-base: 16px;

strong {
  color: inherit;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

h1 {
  font-size: 63px;
  line-height: normal;

  @include fullhd {
    font-size: 70px;
  }

  @include touch {
    font-size: 56px;
  }

  @include mobile {
    font-size: 50px;
  }

  @include mobile-xs {
    font-size: 48px;
  }
}

h2 {
  font-size: 48px;
  line-height: 56.16px;

  @include fullhd {
    font-size: 54px;
    line-height: 63.18px;
  }

  @include touch {
    font-size: 42px;
    line-height: 49.14px;
  }

  @include mobile {
    font-size: 38px;
    line-height: 44.46px;
  }

  @include mobile-xs {
    font-size: 36px;
    line-height: 42.12px;
  }
}

h3 {
  font-size: 32px;
  line-height: 38.4px;

  @include fullhd {
    font-size: 36px;
    line-height: 43.2px;
  }

  @include touch {
    font-size: 28px;
    line-height: 33.6px;
  }

  @include mobile {
    font-size: 24px;
    line-height: 28.8px;
  }

  @include mobile-xs {
    font-size: 22px;
    line-height: 26.4px;
  }
}

h4 {
  font-size: 24px;
  line-height: 28.8px;

  @include fullhd {
    font-size: 26px;
    line-height: 31.2px;
  }

  @include touch {
    font-size: 22px;
    line-height: 26.4px;
  }

  @include mobile {
    font-size: 20px;
    line-height: 24px;
  }
}

h5 {
  font-size: 18px;
  line-height: 27px;

  @include fullhd {
    font-size: 20px;
    line-height: 30px;
  }
}
