@import-normalize;

@font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(../static/fonts/Poppins.ttf) format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(../static/fonts/Roboto.ttf) format('truetype');
}

@import '@fortawesome/fontawesome-free/css/all';
@import 'bulma';
@import 'global';
@import 'typography';
