@import 'styles/_palette';

.SectionContainer {
  padding: 1rem 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: $dark-gray $dark-olive;

  &-title {
    font-family: 'Poppins';
    color: $light-gray;
  }

  &::-webkit-scrollbar {
    width: 10px;

    &-track {
      background: $dark-olive;
    }

    &-thumb {
      background: $dark-gray;
      border-radius: 5px;
      border: 3px solid $dark-olive;
    }
  }
}
